<h1>Editing page</h1>

<% form_for(@page, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :category %><br />
    <%= select :page, :category, Page::CATEGORIES.map{|c|[c,c]} %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :class => 'rich_text_editor' %>
  </p>
  <p>
    <%= f.label :uploaded_data %> (e.g., pdf)<br />
    <%= f.file_field :uploaded_data %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @page %> |
<%= link_to 'List', pages_path %>
