<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><!-- InstanceBegin template="/Templates/AustinW3c.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title><%= "#{@conf[:site_name]} - #{controller.controller_name.capitalize} - #{controller.action_name.capitalize}" %></title>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'asmc' %>
  <%= stylesheet_link_tag 'site' %>
  <%= yield(:head_section) %>
  <%= include_yui_editor_if_used %>
</head>
<body>
<div class="page">
  <div class="head">
    <div class="logo">
      <a href="/"><img src="/images/logo5.jpg" alt="<%= @conf[:site_name] %> logo"></a>
    </div>
    
    <div class="wallpaper">
      <img src="/images/header_index_7_000.jpg" alt="background decoration" 
        width="600" height="170"/>
    </div>
    
    <div class="navigation"> |
    <% for page in @main_pages %>
      <%= link_to page.title, page_path(page) %> |
    <% end %> 
    </div>
  </div>

  <div class="body">
    <div class="sidebar">
      <div class="subnav">
        <ul>
        <% if logged_in? && current_user.isadmin  %>
        <%= link_to "Manage Users", admin_users_path %>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="main">
      <%= flash_helper %>
      <div class="user">
      <%= render :partial => "users/user_bar" %>
      </div>
      <div class="mainBody">
        <div id="page-home">
          <%= yield(:content_section) or yield %>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="seo">Learn more about <a href="http://www.shambhala.org">meditation</a> and <a href="http://www.shambhala.org/buddhism.html">buddhism</a> at shambhala.org</div>
    <img src="/images/footer-sun.gif" alt="shambhala sun logo">
    <p>Content &copy; <%= @conf[:site_name] %></p>
    <p>Layout &copy; Blue Mandala</p>
  </div>
</div>
</body>
</html>
