<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><!-- InstanceBegin template="/Templates/AustinW3c.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title><%= "#{@conf[:site_name]}: #{controller.controller_name}: #{controller.action_name}" %></title>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'asmc' %>
</head>
<body>
<div class="page">
  <div class="head">
    <div class="logo">
      <a href="/"><img src="images/logo5.jpg" alt="<%= @conf[:site_name] %> logo"></a>
    </div>
    
    <div class="wallpaper">
      <img src="images/header_index_7_000.jpg" alt="background decoration" 
        width="600" height="170"/>
    </div>
    
    <div class="navigation"> |
    <% for page in @main_pages %>
      <a href='pages/<%=page.id%>'><%=page.title%></a> |
    <% end %> 
    </div>
  </div>

  <div class="body">
    <!--
    <div class="sidebar">
      <div class="subnav">
        <? include('sidebars/sidebar_home.html') ?>
      </div>
    </div>
    -->

    <div class="main">
      <div class="mainBody">
        <div id="page-home">
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <img src="images/footer-sun.gif" alt="shambhala sun logo">
  </div>
</div>
</body>
</html>
